#c3Title {
    background-color: rgb(123, 116, 116);
}
.card-body{
    background-color: black;
    color: bisque;
}

 
/* .c3MainCard :hover 
{
    scale: 1.04;
  color: white;
  background-color: white;

} */
 