.main1{
    display: flex;
    height: 100vh;
}
.sideBar{
    background-color: wheat;
    height: 100vh;
    width: 25%;
    position: fixed;
    box-shadow:  2px 0px 5px 1px rgb(162, 144, 144);
}
.header{  
    box-shadow:  2px 0px 5px 1px rgb(215, 99, 99);
    width: 75%;
    background-color: antiquewhite;
}
ul li{
    margin: 3px 0px;
    padding: 2px;
} 
input[type="search"]{
   border: none;
   border: 2px solid gray;
}
ul a{
    text-decoration: none;
    color: black;
}
.active li {
    background-color: antiquewhite;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid;
    border-right: none;
    padding: 2px;
} 
 
