.main1{
    display: flex;
    height: 1500px;
}
.sideBar{
    background-color: wheat;
    height: 100vh;
    width: 25%;
    position: fixed;
    box-shadow:  2px 0px 5px 1px rgb(162, 144, 144);
}
.header{
    
    /* position: absolute;
    left: 200px; */
    box-shadow:  2px 0px 5px 1px rgb(215, 99, 99);
    width: 75%;
    background-color: antiquewhite;
}
ul li{
    margin: 3px 0px;
    padding: 2px;
} 
ul a{
    text-decoration: none;
    color: black;
}
.active li {
    background-color: antiquewhite;
}
ul li:hover{
    /* cursor: pointer; */
}
